/* RESET GLOBAL */
* {
  margin: 0;
  /* remove TODAS as margens padrão do navegador */
  padding: 0;
  /* remove TODOS os espaçamentos internos padrão */
  box-sizing: border-box;
  /* faz width/height incluírem padding e borda (controle melhor do layout) */
}

/* BODY E HTML */
body,
html {
  background-image: url("academia.PNG");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  overflow: hidden;
  /* Gradientes */
  border: 2px inset;
  border-image-source: linear-gradient(
    -45deg,
    #ff7403,
    #f0a356,
    #ff7605,
    #d45f00
  );
  border-image-slice: 1;
  box-sizing: border-box;
}

/* NAVBA RE FOOTER */
.nav-menu,
.footer {
  background-color: black;
  /* fundo preto */
  height: 40px;
  background-color: black;
  padding: 6px;
  height: 40px;

  position: fixed; /* Fixa o footer */
  bottom: 0; /* Cola no fundo */
  left: 0;
  width: 100%; /* Ocupa toda a largura */
  z-index: 1000;
}

/* NAV FIXO */
.nav-menu {
  /* fixa o menu na tela (não rola com a página) */

  top: 0;
  /* cola no topo */

  left: 0;
  /* cola na esquerda */

  width: 100%;
  /* ocupa toda largura */

  z-index: 1000;
  /* fica por cima de outros elementos */
}

/* MENU */
.menu,
.item-footer {
  display: flex;
  /* ativa flexbox (coloca itens lado a lado) */

  justify-content: center;
  /* centraliza horizontalmente */

  align-items: center;
  /* centraliza verticalmente */

  gap: 25px;
  /* espaço entre os itens */

  list-style: none;
  /* remove bolinhas da lista */

  margin: 0;
  padding: 0;
  /* remove espaçamentos padrão */

  font-weight: lighter;
  /* deixa fonte mais fina */
}

/* LINKS */
.menu a {
  text-decoration: none;
  /* remove sublinhado */

  color: white;
  /* texto branco */

  padding-bottom: 5px;
  /* espaço para efeito hover */

  transition: all 0.3s ease;
  /* anima qualquer mudança */
}

/* MAIN */
main {
  height: 100vh;
  /* ocupa 100% da altura da tela */

  display: flex;
  /* ativa flexbox */

  flex-direction: column;
  /* organiza elementos em coluna */

  justify-content: center;
  /* centraliza verticalmente */

  align-items: center;
  /* centraliza horizontalmente */

  /* Para sair de trás da nav fixa */
  padding-top: 80px;
  /* Não sumir atrás do footer fixo */
  padding-bottom: 60px;
}

/* CONTAINER PRINCIPAL */
.Container-pagina-principal {
  display: flex;
  /* ativa flex */

  flex-direction: row;
  /* coloca logo e título um embaixo do outro */

  align-items: center;
  /* centraliza horizontalmente */

  justify-content: center;
  /* centraliza verticalmente */

  width: 80%;
  /* ocupa 80% da largura da tela */

  height: 70vh;
  /* ocupa 70% da altura da tela */

  gap: 15px;
  /* espaço entre os elementos */
}

/* CONTAINER DA LOGO */
.logo-fit {
  width: 170px;
  /* largura do container da imagem */
}

/* IMAGEM */
.logo-fit img {
  width: 170px;
  /* define tamanho da imagem */

  height: auto;
  /* mantém proporção */
}

.conteudo-impacto {
  display: flex;
  /* ativa flex */

  flex-direction: column;
  /* coloca logo e título um embaixo do outro */

  align-items: center;
  /* centraliza horizontalmente */

  justify-content: center;
  /* centraliza verticalmente */

  width: 80%;
  /* ocupa 80% da largura da tela */

  height: 70vh;
  /* ocupa 70% da altura da tela */

  gap: 15px;
  /* espaço entre os elementos */
}

/* HOVER MENU */
.menu li a:hover {
  border-bottom: 1px solid white;
  /* cria linha ao passar o mouse */
}

.Container-pagina-principal p:first-of-type {
  font-size: 18px;
}

.Container-pagina-principal p:last-of-type {
  font-size: 16px;
  opacity: 0.9;
}

.Container-pagina-principal p,
.Container-pagina-principal {
  animation: entrarDireita 1s ease;
}

.conteudo-impacto {
  animation: entrarEsquerda 1s ease;
}

.conteudo-impacto p {
  font-size: 15px;
  font-weight: bolder;
}

@keyframes entrarEsquerda {
  from {
    opacity: 0;

    transform: translateX(-100px);
  }

  to {
    opacity: 1;

    transform: translateX(0);
  }
}

@keyframes entrarDireita {
  from {
    opacity: 0;

    transform: translateX(100px);
  }

  to {
    opacity: 1;

    transform: translateX(0);
  }
}

@keyframes pulsar {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
  }
}

/* RESPONSIVIDADE */
@media (max-width: 600px) {
  .menu {
    flex-direction: column;

    gap: 10px;
  }

  .Container-pagina-principal {
    padding: 10px;
    /* adiciona espaço interno */

    text-align: center;
    /* centraliza texto */
  }

  .frase-impactante {
    font-size: 28px;
    /* aumenta texto */
  }

  .textao-missao {
    font-size: 18px;
  }
}

.textao-missao {
  border: 1px solid black;
}

.Titulo-principal {
  font-size: 4rem;
}
